.show-calendar {
  user-select: none;
  width: 100%;
  background: white;
  border: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;

    button {
      cursor: pointer;
      outline: none;
      display: inline-flex;
      background: transparent;
      border: none;
      font-size: 20pt;
      padding: 4px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(gray, 0.1);
      }

      &:active {
        background-color: rgba(gray, 0.2);
      }
    }

    span.title {
      cursor: pointer;
      border-radius: 5px;
      padding: 4px 12px;

      &:hover {
        background-color: rgba(gray, 0.1);
      }

      &:active {
        background-color: rgba(gray, 0.2);
      }
    }
  }

  // head
  .body {
    .row {
      display: flex;
      cursor: pointer;

      &:first-child {
        cursor: initial;

        .box {
          font-weight: bold;
        }

        .box:hover>span.text {
          background-color: white;
        }
      }

      .box {
        position: relative;
        width: calc(100% / 7);
        //padding-bottom: calc(100% / 7);
        font-size: 12pt;
        color: black;


        p {
          font-size: 10px;
          color: #e67700;
        }

        &:first-child {
          color: red;
        }

        &:last-child {
          color: #588dff;
        }

        &.grayed {
          color: gray;
        }

        &:hover {
          span.text {
            background-color: rgba(#588dff, 0.1);
          }
        }

        span.text {
          &.selected {
            background-color: #38d9a9;
          }

          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }
    }
  }
}



.member-container {
  position: relative;
  width: 100%;
  height: 50px;
  flex: 2;
  overflow-y: auto;
  justify-content: space-around;
}

.member-content {
  display: flex;
  position: relative;

  .circle {

    width: 10px;
    height: 10px;
    border-radius: 100%;

    &.blue {
      background-color: #4dabf7;
    }

    &.red {
      background-color: #ff8787;
    }

    &.green {
      background-color: #69db7c;
    }

    &.pink {
      background-color: #f783ac;
    }

    &.yellow {
      background-color: #ffd43b;
    }
  }

  .name {
    font-size: 10px;
    color: black;
  }

}